 main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 402px;
  background: #d7a7a9;
}

.hero h2 {
  max-width: 1200px;
  margin-left: 600px;
  margin-right: auto;
  color: white;
  font-size: 45px;
}

.hero h3 {
  max-width: 1200px;
  margin-left: 600px;
  margin-right: auto;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat';
}

.hero h5 {
  max-width: 1200px;
  margin-left: 600px;
  margin-right: auto;
  color: white;
  font-size: 22px;
}

.hero picture {
  position: absolute;
  /* z-index: -1;
  inset: 0; 
  object-fit: cover;
  box-sizing: border-box;*/
  margin-top: -50px;
  margin-left: -30px;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero a:any-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat';
  border: 1px solid white;
}
